*{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
#cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    background-color: rgb(59, 122, 177);
    width: max-content;
    }
  
#imagen{
    margin: 30px 10px 10px  30px;
    flex: 1 1 auto;
}

#foto{
    border-radius: 100px;
    width: max-content;
    height: max-content;
    }
#títulos_cabecera{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px 5px 0px 10px;
    text-align: center;
    flex: 1 1 auto;   
}

.info_contacto{
    display: flex;
    flex-direction: row;
    flex: 2 1 auto;
}

.columna1{
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 50px 20px 30px 20px;
}

  .lista_header{
        list-style-type:none;
  }
  a:link, a:visited {
    color:black;
    text-decoration:none;
    cursor:auto;
  }
  
  a:link:active, a:visited:active {
    color:black;
  }
  .articulo{
    display:flex;
    flex-direction:row;
}
.info_extra{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-items: stretch;
}
h4{
    text-align: center;
    text-decoration: underline;
}
  .info_conocimientos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        align-items: space-around;
        width: 20%;
        background-color: rgb(59, 122, 177);
    }

.conocimientos{
    padding: 50px 0px 0px 0px;
    margin: 0px 50px 0px 0px;
    text-align: center;
    overflow:hidden;
}
.extra1{
    margin: 15px 10px 0px 30px;
    overflow: hidden;
}
.titulo_conocimientos{
    text-decoration:underline;
    text-align: center;      
}


  .hr {   /*Linea horizontal entre los contenidos*/
    width: 100%;
    margin-left: 0;
    border: 1px solid black;
  }
  

@media only screen and (min-width:300px) {
 
    #cabecera, .conocimientos ,.perfil , .info_extra{
       width: auto;
       height: auto;
       font-size-adjust: xx-small;
     }
   }
 
   